#set($size = $dictEntries.size())
<select onblur="$!onblur" onchange="$!onchange" onclick="$!onclick" ondblclick="$!ondblclick" onfocus="$!onfocus" onkeydown="$!onkeydown" onkeypress="$!onkeypress" onkeyup="$!onkeyup" onmousedown="$!onmousedown" onmousemove="$!onmousemove" onmouseout="$!onmouseout" onmouseover="$!onmouseover" onmouseup="$!onmouseup" onselect="$!onselect" style="$!style" class="$!styleCss" id="$!id" name="$!name" #if($disabled) disabled #end >
	#if($emptySelect)
		<option value="" >$!emptySelectText</option>
	#end
	#foreach($d in $dictEntries)
		<option value="$!d.id" #if($!d.id == $checked) selected #end>$!d.name</option>
	#end
</select>
<script>
	new Ext.form.ComboBox({
	    typeAhead: true,
	    triggerAction: 'all',
	    transform:'$!name',
	    #if($width)
	    	width:$width,
	    #end
	    forceSelection:true
	});
</script>