<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>firsthd-development-center</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>fhdtesting</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    		classpath:spring/spring-config-quartz.xml,
			classpath:spring/spring-config-business.xml,
			classpath:spring/spring-config-security.xml,
			classpath:spring/spring-config-email.xml,
			classpath:spring/spring-config-jbpm.xml,
			classpath:spring/spring-config-message.xml,
			classpath:spring/spring-config-compass.xml
		</param-value>
  </context-param>
  <filter>
    <display-name>GzipJsFilter</display-name>
    <filter-name>GzipJsFilter</filter-name>
    <filter-class>com.fhd.fdc.commons.Filter.GzipJsFilter</filter-class>
    <init-param>
      <param-name>headers</param-name>
      <param-value>Content-Encoding=gzip</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>GzipJsFilter</filter-name>
    <url-pattern>*.gzjs</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-config-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>localeServlet</servlet-name>
    <servlet-class>com.fhd.fdc.web.controller.LocaleServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>localeServlet</servlet-name>
    <url-pattern>/i18n</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/jsp/commons/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/commons/404.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>200</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserAuthoritiesServlet</display-name>
    <servlet-name>UserAuthoritiesServlet</servlet-name>
    <servlet-class>com.fhd.fdc.commons.security.UserAuthoritiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthoritiesServlet</servlet-name>
    <url-pattern>/UserAuth</url-pattern>
  </servlet-mapping>
  <!-- servlet>
  	<description></description>
	<display-name>FCExporter</display-name>
	<servlet-name>FCExporter</servlet-name>
	<servlet-class>com.fusioncharts.exporter.servlet.FCExporter</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>FCExporter</servlet-name>
	<url-pattern>/FCExporter.f</url-pattern>
  </servlet-mapping-->
  
  <icon>
	<small-icon>/favicon.ico</small-icon>
  </icon>
  
</web-app>